absl-py==2.1.0
accelerate==0.34.2
aiodns==3.2.0
aiofiles==23.2.1
aiogram==2.23.1
aiohttp==3.8.6
aiohttp-retry==2.8.3
aiosignal==1.3.1
altgraph==0.17.4
annotated-types==0.7.0
anyio==4.4.0
appdirs==1.4.4
array-record==0.4.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.2.0
auto-py-to-exe==2.43.3
Babel==2.9.1
beautifulsoup4==4.12.3
blinker==1.8.2
bottle==0.12.25
bottle-websocket==0.2.9
Brotli==1.1.0
bs4==0.0.2
build==1.2.1
buildozer==1.5.0
ccxt==4.3.42
cefpython3==66.0
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
clr-loader==0.2.6
colorama==0.4.6
comtypes==1.4.3
contourpy==1.3.0
cryptography==42.0.7
cssselect==1.2.0
curl-cffi==0.5.10
cycler==0.12.1
diffusers==0.30.3
distlib==0.3.8
dm-tree==0.1.8
docutils==0.21.2
Eel==0.16.0
etils==1.5.2
exceptiongroup==1.2.1
fake-useragent==1.5.1
filelock==3.14.0
Flask==3.0.3
Flask-SQLAlchemy==3.1.1
flatbuffers==24.3.25
fonttools==4.54.1
frozenlist==1.4.1
fsspec==2024.5.0
future==1.0.0
g4f==0.3.2.7
gast==0.6.0
geojson==2.5.0
gevent==24.2.1
gevent-websocket==0.10.1
google-pasta==0.2.0
greenlet==3.0.3
grpcio==1.66.1
guidata==3.1.0
guiqwt==4.4.5
h11==0.14.0
h2==4.1.0
h5py==3.11.0
hpack==4.0.0
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.25.1
hyperframe==6.0.1
idna==3.7
importlib_metadata==7.1.0
importlib_resources==6.4.4
inquirerpy==0.3.4
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
kagglehub==0.3.0
kaitaistruct==0.10
keras==3.5.0
keras-core==0.1.7
keras-cv==0.9.0
Kivy==2.3.0
kivy-deps.angle==0.4.0
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.7.0
Kivy-Garden @ https://github.com/kivy-garden/garden/archive/master.zip#sha256=f9098d4b389cc63a6bc15adfcc18106a3741a4f7387c345c5676fb845fb37aee
kivy_garden.graph @ https://github.com/kivy-garden/graph/archive/master.zip#sha256=fade823c65243bbdced2f54d549ec392d2078c89e25e015dc3fa8d3e9ed23659
kivymd==1.2.0
kiwisolver==1.4.7
libclang==18.1.1
llvmlite==0.43.0
lxml==5.3.0
lxml_html_clean==0.2.2
magic-filter==1.0.12
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.2
mdurl==0.1.2
meta_ai_api==1.2.1
ml-dtypes==0.4.1
mpmath==1.3.0
multidict==6.0.5
namex==0.0.8
networkx==3.2.1
nltk==3.9.1
numba==0.60.0
numpy==1.26.4
opt-einsum==3.3.0
optree==0.12.1
outcome==1.3.0.post0
packaging==24.0
pandas==2.2.3
parse==1.20.2
pefile==2023.2.7
pexpect==4.9.0
pfzy==0.3.4
phonenumbers==8.13.46
pillow==10.4.0
platformdirs==4.2.2
promise==2.3
prompt_toolkit==3.0.47
protobuf==3.20.3
proxy_tools==0.1.0
psutil==6.0.0
ptyprocess==0.7.0
pyasn1==0.6.0
PyAudio==0.2.14
pycares==4.4.0
pycparser==2.22
pycryptodome==3.20.0
pydantic==2.7.4
pydantic_core==2.18.4
pydivert==2.1.0
pyee==11.1.1
Pygments==2.18.0
pyinstaller==6.6.0
pyinstaller-hooks-contrib==2024.6
pyjnius==1.6.1
PyJWT==2.9.0
pyOpenSSL==24.1.0
pyowm==3.3.0
pyparsing==3.1.2
pypiwin32==223
pyppeteer==2.0.0
pyproject_hooks==1.1.0
pyqt-tools==1.0.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.15.0
PyQt6==6.7.0
PyQt6-Qt6==6.7.2
PyQt6_sip==13.8.0
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
pyquery==2.0.1
PySocks==1.7.1
pyTelegramBotAPI==4.18.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-for-android==2024.1.21
python-telegram-bot==21.3
pythonnet==3.0.3
PythonQwt==0.12.6
pyttsx3==2.90
pytz==2024.1
pywin32==306
pywin32-ctypes==0.2.2
PyYAML==6.0.1
QtPy==2.4.1
regex==2024.5.15
requests==2.31.0
requests-html==0.10.0
rich==13.8.0
safetensors==0.4.3
scipy==1.13.1
selenium==4.21.0
selenium-wire==5.1.0
sh==2.0.6
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
SpeechRecognition==3.10.4
SQLAlchemy==2.0.30
srt==3.5.3
suno-api==0.1.0
suno_songs==0.6.0
SunoAI==1.0.7
sympy==1.13.2
telebot==0.0.5
telegram==0.0.1
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-datasets==4.9.3
tensorflow-intel==2.17.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow-metadata==1.15.0
termcolor==2.4.0
text-generation==0.7.0
tokenizers==0.19.1
toml==0.10.2
tomli==2.0.1
torch==2.4.0
tqdm==4.66.4
transformers==4.44.1
trio==0.25.1
trio-websocket==0.11.1
twilio==9.3.2
typing_extensions==4.11.0
tzdata==2024.2
undetected-chromedriver==3.5.5
urllib3==1.26.20
virtualenv==20.26.2
vk==3.0
vosk==0.3.45
w3lib==2.2.1
waitress==3.0.0
wcwidth==0.2.13
websockets==10.4
Werkzeug==3.0.3
whichcraft==0.6.1
wrapt==1.16.0
wsproto==1.2.0
yandex_gpt==0.2.0
yarl==1.9.4
YooMoney==0.1.1
zipp==3.18.2
zope.event==5.0
zope.interface==6.4
zstandard==0.22.0